<a href="https://colab.research.google.com/github/dvisionst/groupby_practice/blob/main/Group_By.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GroupBy Exercises
- Jose Flores
- 6/29/2022

In [146]:
import pandas as pd

url = 'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data'

In [147]:
uci_df = pd.read_csv(url, header=None)

uci_df.keys() # Helps me identify header names and dtypes

Int64Index([0, 1, 2, 3], dtype='int64')

# Rename Columns
Rename column 0 to 'Flow_ID'
Rename column 1 to 'Date'
Rename column 2 to 'Time'
Rename column 3 to 'Count'

In [148]:
# 1. Rename column 0 to 'Flow_ID'
# Rename column 1 to 'Date'
# Rename column 2 to 'Time'
# Rename column 3 to 'Count'

uci_df = uci_df.rename(columns={ 
                                0: 'Flow_ID',
                                1: 'Date',
                                2: 'Time',
                                3: 'Count'
    
})

uci_df.head()# Confirms the column name changes

   Flow_ID      Date      Time  Count
0        7  07/24/05  00:00:00      0
1        9  07/24/05  00:00:00      0
2        7  07/24/05  00:30:00      1
3        9  07/24/05  00:30:00      0
4        7  07/24/05  01:00:00      0

# Selecting Data
Select all data for the date July 24 2005 having flow id=7.
From the data selected in step 1, sort the result on Count in descending order and output the top 10 rows. Assign the output to a variable named top10.

In [149]:
# 2. Select all data for the date July 24 2005 having flow id=7.
# From the data selected in step 1, sort the result on Count in descending 
# order and output the top 10 rows. Assign the output to a variable named top10.

top10 = uci_df.sort_values('Count', ascending=False)
top10 = top10.head(10)
top10

      Flow_ID      Date      Time  Count
6879        9  10/03/05  15:30:00     62
335         9  07/27/05  11:30:00     61
6881        9  10/03/05  16:00:00     55
9682        7  11/01/05  20:30:00     54
9686        7  11/01/05  21:30:00     54
9681        9  11/01/05  20:00:00     53
6878        7  10/03/05  15:30:00     52
9933        9  11/04/05  11:00:00     50
3615        9  08/30/05  15:30:00     50
8913        9  10/24/05  20:00:00     50

# Apply Function
For the 10 rows outputted above, use Pandas Apply function to subtract lowest value of the 10 from all of them and then output the average value of the resulting counts

In [150]:
# 3. For the 10 rows outputted above, use Pandas Apply function to subtract 
# lowest value of the 10 from all of them and then output the average value of 
# the resulting counts 



lowest_value = top10['Count'].min()

top10.drop(top10[top10['Count'] == lowest_value].index, inplace=True)
print(f"{top10}\n") # Shows that the rows with min value were removed
top10['Count'].mean().round(2)

      Flow_ID      Date      Time  Count
6879        9  10/03/05  15:30:00     62
335         9  07/27/05  11:30:00     61
6881        9  10/03/05  16:00:00     55
9682        7  11/01/05  20:30:00     54
9686        7  11/01/05  21:30:00     54
9681        9  11/01/05  20:00:00     53
6878        7  10/03/05  15:30:00     52

55.86

In [151]:
# Select data in the month of August 2005 having flow id=7
# Group the data based on date and get the max count per date
# Turn in a .ipynb file with your solutions!

august = uci_df['Date'].str.startswith('08') 
flow_7 = uci_df['Flow_ID'] == 7
august_uci_df = uci_df[august & flow_7]
august_uci_df.groupby('Date')['Count'].max()

Date
08/01/05    18
08/02/05    16
08/03/05    26
08/04/05    40
08/05/05    17
08/06/05     8
08/07/05     3
08/08/05    16
08/09/05    19
08/10/05    25
08/11/05    16
08/12/05    21
08/13/05     5
08/14/05     3
08/15/05    17
08/16/05    24
08/17/05    22
08/18/05    39
08/19/05    23
08/20/05     3
08/21/05     4
08/22/05    23
08/23/05    25
08/24/05    17
08/25/05    24
08/26/05    22
08/27/05     3
08/28/05     7
08/29/05    15
08/30/05    47
08/31/05    19
Name: Count, dtype: int64